
* {
	margin: 0;
	padding: 0;
 	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
span.giorno {

	display: none;

}
.shareToolBar a.volume:hover{color:#00AEFF}

h3.sub_regeni {
	line-height: normal;
}

.photoGallery figcaption {
	cursor: default;
	background-image: none;
}
.corpo-articolo {
	background-color: #fff !important;
	padding-top: 70px;

}

.reg-nav {
	margin: 0 20% 20px 20% !important;
	text-align: center;
}

.textContainer {
	margin: 55px 20% 0 20% !important;
	padding: 0 !important;
	opacity: 1;	
}
div.opac {
	opacity: 1 !important;
	transition: 3s;
}

.textContainer p a {
	text-decoration: underline;
}

.textContainer p {
/*	text-align: justify;*/
	margin: 40px 0 40px 0 !important;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
}

.textContainer h1 {
	text-align: center;
	font-size: 38px;
	line-height: 40px;
}
.textContainer h2 {
	text-align: center;
	font-size: 30px;
	line-height: 35px;
}
.textContainer h3 {
    text-align: right;
    font-size: 20px;
    margin: 20px 0 60px 0;
    font-style: italic;
}
.textContainer h3 span {
    display: inline-block;
    margin-right: 5px;
} 
.tim {
	float: left;
	height: 2950px;
}

.textContainer b {
	background-color: #efefef;
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	display: inline;

}.shareToolBar a {
	color: #fff;
}

header {
	background: rgba(0,0,0,0.2) !important;
}
#top {
	background: #12120f;
/*	background: rgba(0,0,0,0.3) !important;
	position: absolute;
	top: 0;*/
	width: 100%;
	z-index: 1003;
	position: relative;
}
.credit {
	margin-left: 15% !important;
	margin-right: 15% !important;
}
.credit p {
	text-align: center !important;
}

.credit h2 {
	font-size: 30px !important;
}

.credit strong {

}

	.copertina {
	    position: relative;
	    display: block;
	    width: 100%;
	    min-width: 320px;
	    height: auto;
	    /* height: 100%;*/
	    overflow: hidden;
	    padding: 30px 0 0 0;
	}
	.copertina video {
	/*	display: none;*/
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -1;
	}

@media (min-aspect-ratio: 16/9) {
	  .copertina video {
	    height: 300%; top: -100%;
	    /* or height: 200%; top: -50%;
	       or height: 400%; top: -150%; */
	  }
}

@media (max-aspect-ratio: 16/9) {
	  .copertina video {
	    width: 300%; left: -100%;
	    /* or width: 200%; left: -50%;
	       or width: 400%; left: -150%; */
	  }
}

@supports (object-fit: cover) {
	  .copertina video {
	    top: 0; left: 0;
	    width: 100%; height: 100%;
	    object-fit: cover;
	  }
}
.copertina img#mosaic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.navWrapper a.volume {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #fff;
	
}

.volume .active {display: block !important;}
.volume .noactive {display: none !important;}
.volume .fa-volume-up {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

.volume .fa-volume-off {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;	
		display: none;

}
#cap1 h1 {
	opacity: 1;
	padding: 0;
}
#cap2 h1, #cap3 h1, #cap4 h1 {
	opacity: 1;
}
#cap1 h1 {
	
}

.copertina img {}

.copertina h2 {
	position: absolute;
	bottom: 100px;
	right: 50px;
	z-index: 999;	
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	text-align: right;
}
.copertina h3{
	position: absolute;
	bottom: 90px;
	right: 50px;
	z-index: 999;	
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	text-align: right;	
}

section.capitolo {
	display: block;
	width: 100%;
	padding: 60px 0;
	border-bottom: 0px solid #ccc;
	background: #fff;
}
section.capitolo h1 {
	width: 75%;
	margin: 0 auto;	
	font-family: "brera-condensed_semibold";
	color: #000;
	font-size: 48px;
	margin-bottom: 25px;		
}
section.capitolo div {
	width: 75%;
	max-width: 1366px;
	margin: 0 auto;
	position: relative;
}
section.capitolo p {
	width: calc(95% - 500px);
	font-family: solferino_regular;
	font-size: 24px;
	line-height: 36px;
	text-align: justify;
}

iframe.grafico {
	width: 100%;

}

.sfondo {
	background: #fff !important;
}

section.capitolo p .grafico {
	display: none;
}section.capitolo p img {
	display: none;	
}
.photoGallery {
	background: #fff !important;
	margin-bottom: 0 !important;
}
.photoGallery .numberPage {
	background: #fff !important;
	margin: 0 auto !important;
}

@media only screen and (max-width:699px) {

#top div.navWrapper img.unhcr-testata {
    display: none;
}
.navWrapper a.volume {
    top: 6px !important;
    left: 10px !important;
}


	

h2.titolo_regeni > div > div.testi {
	text-align: center !important;
}

	#cap1 h1.marquee {
		opacity: 1;
	}

	.textContainer {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	section {
		display: block !important;
	}
	.copertina {
	height: auto !important;
	background-image: url("//images2.corriereobjects.it/reportages/cronache/2016/migranti-morti-mediterraneo/img/apertura.jpg");
	background-position: center top;
	background-size: cover;
	}
	.copertina video {
	    display: none;
	}

	#cap1 h1.marquee {
		width: 90%;
		font-size: 52px !important;
		right: 0 !important;
		left: 0 !important;
		margin: 0 auto !important;
		bottom: 35px;
		text-align: center !important;
	}	section.capitolo div {
		width: 85% !important;
	}	
	section.capitolo p {
		width: 100% !important;
	}
	section.capitolo p img {
		display: block !important;
		width: 100% !important;
		margin-top: 10px !important;		
	}
	section.capitolo p .grafico {
		width: 100% !important;
		height: 350px !important;
		display: block !important;
		margin-top: 10px !important;		
	}

}

@media only screen and (min-width:700px) and (max-width:849px) {

.logo {
	margin-left: 10px !important;
}
.shareToolBar {
	padding-right: 10px !important;
}

h2.titolo_regeni > div > div.testi {
	text-align: center !important;
}

	.textContainer {
		margin: 0 20% !important;
		padding: 0 !important;

	}

.copertina {
/*background-image: url("//images2.corriereobjects.it/reportages/cronache/2016/migranti-morti-mediterraneo-test/img/apertura.jpg");
	background-position: center top;
	background-size: cover;*/
}
.copertina video {

}
	section {
		display: block !important;
	}

	section.capitolo div {
		width: 80% !important;
	}
	section.capitolo p {
		width: 100% !important;
	}
	section.capitolo p img {
		display: block !important;
		width: 100% !important;
		margin-top: 10px !important;
	}
	section.capitolo p .grafico {
		width: 100% !important;
		height: 650px;
		display: block !important;
		margin-top: 10px !important;
	}
}

@media only screen and (min-width:850px) and (max-width:1024px) {

.logo {
	margin-left: 10px !important;
}
.shareToolBar {
	padding-right: 10px !important;
}
h2.titolo_regeni > div > div.testi {
	text-align: center !important;
}

	.textContainer p {
		font-size: 18px;
		line-height: 24px;
	}
	section.capitolo #graficoV {
		width: 400px !important;
		display: block !important;
	}	
	section.capitolo p {
		width: calc(95% - 400px) !important;
	}
}

@media only screen and (min-width:1025px) and (max-width:1280px) {

	.textContainer p {
		font-size: 20px !important;
		line-height: 26px !important;	
	}

}	

@media only screen and (min-width:1281px) {

.textContainer p {
	font-size: 22px !important;
	line-height: 28px !important;	
}	section.capitolo p {
		width: calc(95% - 550px) !important;
	}
}


.bott {
	background: #fff !important;
	border-top: 1px solid #222;
}
.bott a {
	color: #222 !important;
}

#crediti {
	margin-top: 60px !important;
	margin-bottom: 120px;
}

