@import "font-face.css";
@import "../font/stylesheet.css";


/* ------------------------------
COLORS
---------------------------*/
@bianco:#DFE0DA;
@bianco_vero:#FFF;
@orange:#F79941; 
@nero: darken(@bianco, 80%);
@dark_blue: #041823;
@light_blue: #9DA5A9;
@blu_corriere: #29ABEF;


/* ------------------------------
DEFINITIONS
---------------------------*/

*{
  box-sizing: border-box; 
}

.copertina{
  h1 {
    bottom: 0px;
    color: fade(@bianco_vero, 80%);
    color: @bianco_vero;
    display: block;
    font-family: main-heavy;
    font-size: 1em;
    left: 50%;
    line-height: 1;
    margin: 0;
    padding:0;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    width: 100%;
    max-width: 760px;
    z-index: 1002;

    
    div:first-child{
      border-bottom: 1px solid @bianco;
    }

    
    b {
      background: black;  
      border-bottom: 2px solid #F79941;
      border-bottom: 2px solid @bianco;
      border-top: 2px solid #F79941;
      border-top: 2px solid @bianco;
      display: inline-block;
      font-weight: normal;
      margin-bottom: 0px;
      margin: 0 0 -12px;
      padding: 10px;
    }
    strong {
      font-size: 60px;
      display: block;
      font-weight: normal;
      color: #fff;
    }
    span {
      opacity: 1;
      font-size: 22px;
      font-family: "brera_thin";
      display: inline-block;
      background: black;  
      padding: 10px;
      line-height: 1;
    }

    span.firma {
      border-top: 2px solid @bianco;
    }
  } 
} //copertina



nav.filtri{
  display: none;
}

header{
  background-color: @nero;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
  h1{
    display: block;
    width: 100%;
    span{
      font-family: "title-regular";
      font-size: 140px;
      color:@light_blue;
    }
    color:@bianco;
    font-size: 60px;
    border-bottom: 1px dashed @light_blue;
    margin: 0 0 30px;
  }
  h3{
    color:@bianco;
    padding-bottom: 35px;
  }
} // header


article{
  /*.css-gradient(@light_blue, @dark_blue);*/
  background-color: @bianco_vero;
  color:@nero;
  margin-top: 0;
  position: relative;
  padding-top: 2em;

  h1{
    color:@nero;
    margin: 40px 0 20px;
  }


  
  .textContainer{
    zoom:1;
    padding-top: 2em;
    margin-top: 2em;
    position: relative;

    h2{
      font-family: "main-heavy",sans-serif;
      padding-top: 2em;
      .clearfix();
      line-height: 1;
      font-size: 1em;
      color: #12120f;
      .numerone{
        display: block;
        width: 100%;
        float:none;
        @media (min-width:768px){
          float:left;
          width: 50%;
        }
      }
      .testi{
        margin-top: 1em;
        display: block;
        width: 100%;
        float:none;
        text-transform: uppercase;
        font-size: 1em;
        text-outline: 1em;
        @media (min-width:768px){
          width: 40%;
          float:right;
        }
      }
      
    }

    &>p{
      font-family: "main-regular",sans-serif;
      font-size: 1em;
      line-height: 1.3em;
      text-indent: 1em;
      margin:2em 0;
    }
    a{
      font-family: "main-regular",sans-serif;
      text-decoration: underline;
      &[target="_blank"]{
        font-family: "main-semibold",sans-serif;
        &:after{
          color: @blu_corriere;
          content:" leggi tutto";
          text-transform: uppercase;
          font-size: 0.7em;
        }
      }
    }
    @media (min-width:768px){
      width: 740px !important;
      margin: 0 auto !important;
      h1{
        text-align: left;
      }
    }
  }

  .desc{
    position: fixed;
    bottom: 0px;
    transform: translateY(100%);
    background:  @bianco;
    z-index: 10;
    font-family: "main-regular",sans-serif;
    color:@nero;
    transition: bottom 0.5s, transform 0.7s;
    box-shadow: -2px 0 10px @dark_blue;
    cursor:pointer;
    display: none;
    padding: 1.5em 2em;


    p{
      font-family: "main-regular", serif;
      text-align: right;
      padding: 0em 0.7em 1.2em;
      margin-right: 1em;
    }

    img{
      max-width: 100%;
    }

    &.inview{
      bottom:5em;
      min-height: 5em;
      display: block;
      width: 100%;
      &:after{
        position: absolute;
        top: 0;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: @nero url(../img/up.png) center center no-repeat;
        background-size: cover;
        transform: translateX(-50%) translateY(-50%);
        content:"^";
        text-indent: -9999em;
      }
      
    }
    
    &.selected{
      bottom:0px; 
      transform: translateY(0);
      height:100%;
      &:after{
        top:auto;
        bottom:0;
        transform: translateX(-50%) translateY(-10%) rotate(180deg);
      }
    }


    h2{
      color: @nero;
      font-family: "main-light", sans-serif;
      font-size: 1.1em;
      text-align: right;
      padding: 0em 0.7em 1.2em;
      span.data{
        text-transform: uppercase;
        font-size: 0.7em;
        margin-right: 1em;
        line-height: 1em;
      }
    }

    img{
      padding-bottom: 1.2em;
    }

    p{
      font-size: 0.85em;
      line-height: 1.5em;

    }


  }

  .indicatore{
    position: fixed;
    top: -3em;
    height: 3em;
    width: 100%;
    padding: 0.5em 0;
    background:  @nero;
    z-index: 10;
    font-family: "main_regular",sans-serif;
    color:@bianco;
    box-shadow: 2px 0 5px @dark_blue;
    transition: top 0.5s;

    &.inview{
      top:0;
    }

    .line{
      width: 100%;
      height: 3px;
      background-color: @bianco_vero;
      top: 50%;
      transform:translateY(-50%);
      position: relative;
    }
    .point{
      width: 3px;
      height: 1em;
      background-color: @bianco;
      top: 50%;
      transform:translateY(-50%);
      position: absolute;
    }
    .event{
      width: 0.5em;
      height: 0.5em;
      background-color: @nero;
      border: 2px solid @bianco_vero;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      position: absolute;
    }
  
   
  }

} // article

section#scroll_morti{
  display: block;
  section.mese{
    h1{
      @media (min-width:768px){
        max-width: 768px;
        margin: 0 auto 1em auto;
        text-align: left;
      }
    }
    
    section.evento{
      .clearfix;  
      @media (min-width:768px){

        max-width: 740px;
        margin: 1em auto 4em auto;
        ul{
          width: 420px;
          float:left;
        }

        .desc{
          position: relative;
          float:right;
          width: 100%;
          max-width: 300px;
          background: transparent;
          transform:none;
          box-shadow: none;
          z-index:0;
          padding: 0;
          &:after{
            display: none;
          }
          &.inview{
            bottom:auto;
          }
          h2{
            font-weight: normal;
            font-family: "main-bold", sans-serif;
            span.data{
              font-family: "main-light", sans-serif;
              display: block;
              font-weight: normal;
            }
            span.titolo_evento{
              margin-top: 1em;
            display: block;
            }            
            padding-left: 0;
          }
          
        }
      }

      
    }
  
  }
}

li{
  list-style: none;
  display: inline;
  position: relative;
  

  // &:nth-child(3n+0) { 
  //   i{ 
  //     animation: ondeggiamento 5s infinite linear;
  //   }
  // }
  
  

  i{ 
    //animation: ondeggiamento_small 15s infinite linear;
    font-style: normal;
    font-family: "omini";
    font-size: 36px;
    display: inline-block;
    width: 36px;
    text-align: center;
    color:fade(@nero,100%);
    z-index:9;
    &:hover{
      color:darken(@nero, 10%);
    }
  }
  
  &:nth-child(2n+0) {
    i{
      //animation: ondeggiamento_reverse 15s infinite linear;
    }
  }

  .details{
    display: none;
    font-family:"main-condensed_regular", sans-serif;
    position: absolute;
    max-width: 480px;
    box-shadow: 0 0 5px @nero;
    background:@bianco;
    z-index:999;
    padding: 0.5em 1em;
    text-align:left;
    img{
      float:left;
      margin: 0 1em 1em 0;
      width: 5em;
    }
    strong{
      font-family: "main-condensed_bold";
    }
  }
}
.credit{
  p{
    strong,
    a{
      color:@nero;
    }
    img.unhcr {
      width: 100px;
      padding-top: 10px;
    }
  }
}

#top div.navWrapper img.unhcr-testata { 
  display: block; 
    height: 70px; 
    margin-left: 400px; 
    padding-top: 10px; 
    position: absolute; 
    width: 59px; 
}

.share{
  position: relative;
  max-width: 990px;
  margin: 15px auto;
  border-top: 1px dashed fade(@nero, 50%);
  padding: 15px;
  display: block;
  font-size: 18px;

  h2{ margin-bottom: 10px;}
  .desc{
    font-family: "main-condensed_regular", sans-serif;
    font-size: 18px;
    .clearfix;
    strong{
      font-family: "main-condensed_bold";
    }
    
    img{
      float:left;
      margin: 0 1em 1em 0;
      width: 5em;
    }
  }
  .condivisioni{
      font-family: "main-condensed_regular", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
    a{
      display: inline;
      text-decoration: underline;
      &.facebook{

      }
      &.twitter{
        margin-left: 1em;
      }
    }
  }
  
}

//per visualizzare gli omini con le lettere di riferimento 
// ## da togliere in produzione ##
//
table.conversion{
  display: none;

  td{
    border:1px dashed #999;
    &:nth-child(odd){
      font-family: "omini";
      font-size: 48px;
    }
  }
  &.upper{
    text-transform: uppercase;
  }
}

.perMobile{ display: none; text-align: right; margin-top: 15px; } 
@media (max-width: 768px) { 
  .unhcr-testata{ display: none!important; } 
  .perMobile{ display: block; } 
  h2.contaMorti #bigtext-id2{ margin-top: 0.8em!important; } 
} 

/*Clearfix for clearing floats like a boss*/
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


.css-gradient(@from: #20416A, @to: #3D69A5) {
  background-color: @to;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
  background-image: -webkit-linear-gradient(top, @from, @to);
  background-image: -moz-linear-gradient(top, @from, @to);
  background-image: -o-linear-gradient(top, @from, @to);
  background-image: -ms-linear-gradient(top, @from, @to);
  background-image: linear-gradient(top, @from, @to);
}

.css-gradient(darken,@amount: 10%, @from: #20416A, @to: #3D69A5){
  .css-gradient(darken(@from,@amount),darken(@to,@amount));
}

@media screen and (min-width: 600px) {
  
}

@keyframes ondeggiamento {
  0%   { transform:translateY(0px);  }
  33%  { transform:translateY(-2px); }
  66%  { transform:translateY(4px); }
  100% { transform:translateY(0px);  }
}

@keyframes ondeggiamento_reverse {
  0%   { transform:translateY(0px);  }
  33%  { transform:translateY(2px); }
  66%  { transform:translateY(-4px); }
  100% { transform:translateY(0px);  }
}

@keyframes ondeggiamento_small {
  0%   { transform:translateY(0px);  }
  33%  { transform:translateY(-3px); }
  66%  { transform:translateY(3px); }
  100% { transform:translateY(0px);  }
}
