@import "font-face.css";

/*@import "../font/stylesheet.css";*/

/* ------------------------------

COLORS

---------------------------*/

/* ------------------------------

DEFINITIONS

---------------------------*/

* {

  box-sizing: border-box;

}



.shareToolBar a.lang {

  font-size: 24px;

  margin-left: 10px;

  color: transparent !important 

}



.shareToolBar a.eng {

    background: url(/reportages/cronache/2016/migranti-morti-mediterraneo/img/eng.png);

    display: inline-block;

    background-size: 60%;

    background-repeat: no-repeat;

    top: -2px;

    position: relative;

}



/*.shareToolBar a.ita:hover {

  color: #fff;

  cursor: default;  

}

.shareToolBar a.eng:hover {

  color: #29abef;

  cursor: pointer;  

}*/



.loader{

  position: fixed;

  background-color: #111;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  z-index: 5000;

}

.loader img{

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translateX(-50%) translateY(-50%);

}



iframe.mappa {

  display: block;

  margin: 0 auto;

  width: 95%;

  max-width: 990px;

}

/*@media (max-width: 320px) {

  iframe.mappa {

  width: 95%;

  height: 280px;

  }

}

@media (min-width: 768px) {

  iframe.mappa {

    width: 992px;

    height: 900px;

  }

}*/



.mortizone {

  max-width: 740px;

  margin: 0 auto;

  font-family: "main-heavy", sans-serif;  

  font-size: 60px;

}

.mortizone .testi {

  max-width: 250px;

  margin: 0 auto;

  text-transform: uppercase;

}

.mortizone span {

  border-bottom-style: solid;

  border-bottom-width: 5px;

  width: 32%;

  display: inline-block;

  text-align: center;

  color: #12120f;

}

.mortizone span::after {

  content: "";

  display: block;

  font-family: "main-light", sans-serif; 

  font-size: 14px;

  position: relative;

    top: 10px;

    height: 1px;

}

.mortizone span.ovest {

  border-bottom-color: #ffa846;

}

.mortizone span.ovest::after {

  content: "(Mediterraneo Occidentale)";

}

.mortizone span.center {

  border-bottom-color: #93b1ce;

  margin: 0;

}

.mortizone span.center::after {

  content: "(Mediterraneo Centrale)";

}

.mortizone span.est {

  border-bottom-color: #5aa846;

}

.mortizone span.est::after {

  content: "(Mediterraneo Orientale)";

}



@media (max-width: 600px) {

  .mortizone span, .mortizone span.center {

      width: 90%;

      display: block;

      margin: 10px auto 40px auto;

  }



.copertina h1 {

  margin: 1em auto 0 auto !important;

  padding: 0 15px !important;





}





}







.sea {

  position:relative;

  overflow: hidden;

}



.sea .textContainer {

  margin-top: 0 !important;

  margin-bottom: 0;

}

.sea .textContainer h2 {

  margin-top: 0;

  margin-bottom: 0;

  padding-top: 0;

  padding-bottom: 0;

  color: #12120f;

}

.copertina .sea {

  width: 100%;

  height: 400px;

  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, rgba(255,255,255,1) 100%);

  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 27%,rgba(255,255,255,1) 100%);

  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 27%,rgba(255,255,255,1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

}

@media (max-width: 600px) {

  .copertina .sea {

    height: 330px;

  }

}  



.copertina h1 {

  bottom: 0px;

  color: rgba(255, 255, 255, 1);

/*  color: #12120f;*/

  display: block;

  font-family: main-heavy;

  font-size: 1em;

/*  left: 50%;*/

  line-height: 1;

  margin: 3em auto 0 auto;

  padding: 0;

/*  // position: absolute;

  // right: 0px;*/

  text-align: center;

  text-transform: uppercase;

/*  // -webkit-transform: translateX(-50%);

  //     -ms-transform: translateX(-50%);

  //         transform: translateX(-50%);*/

  width: 100%;

  max-width: 760px;

  z-index: 1002;

  position: relative;

}

.copertina h1 div:first-child {

/*  border-bottom: 1px solid #dfe0da;*/

  border-bottom: 1px solid #fff;  

}

.copertina h1 b {

  background: black;

  border-bottom: 2px solid #F79941;

  border-bottom: 2px solid #dfe0da;

  border-top: 2px solid #F79941;

  border-top: 2px solid #dfe0da;

  display: inline-block;

  font-weight: normal;

  margin-bottom: 0px;

  margin: 0 0 -12px;

  padding: 10px;

}

.copertina h1 strong {

  font-size: 60px;

  display: block;

  font-weight: normal;

  color: #fff;

}

.copertina h1 span {

  opacity: 1;

  font-size: 22px;

  font-family: "brera_thin";

  display: inline-block;

  background: black;

  padding: 10px;

  line-height: 1;

}

.copertina h1 span.firma {

  border-top: 2px solid #dfe0da;

}

nav.filtri {

  display: none;

}

header {

  background-color: #12120f;

  text-align: center;

  width: 100%;

  margin: 0;

  padding: 1em;

}

header h1 {

  display: block;

  width: 100%;

  color: #dfe0da;

  font-size: 60px;

  border-bottom: 1px dashed #9da5a9;

  margin: 0 0 30px;

}

header h1 span {

  font-family: "title-regular";

  font-size: 140px;

  color: #9da5a9;

}

header h3 {

  color: #dfe0da;

  padding-bottom: 35px;

}

article {

  /*.css-gradient(@light_blue, @dark_blue);*/

  background-color: #ffffff;

  color: #12120f;

  margin-top: 0;

  position: relative;

  padding-top: 0;

}

@media (max-width: 600px) {

  article {

    padding-top: 0;

  }

}

article h1 {

  color: #12120f;

  margin: 40px 0 20px;

}

article .textContainer {

  zoom: 1;

  padding-top: 2em;

  margin-top: 2em;

  position: relative;

}

article .textContainer h2 {

  font-family: "main-heavy", sans-serif;

  padding: 0 0;

  *zoom: 1;

  line-height: 1;

  font-size: 1em;

  color: #12120f;

}

article .textContainer h2:before,

article .textContainer h2:after {

  display: table;

  content: "";

  line-height: 0;

}

article .textContainer h2:after {

  clear: both;

}

article .textContainer h2 .numerone {

  display: block;

  width: 100%;

  float: none;

}

@media (min-width: 768px) {

  article .textContainer h2 .numerone {

    float: left;

    width: 50%;

  }

}

article .textContainer h2 .testi {

/*  margin-top: .5em;*/

  display: block;

  width: 100%;

  float: none;

  text-transform: uppercase;

  font-size: 1em;

  text-outline: 1em;

}

@media (min-width: 768px) {

  article .textContainer h2 .testi {

    width: 48%;

    float: right;

  }

}

article .textContainer > p {

  font-family: "main-regular", sans-serif;

  font-size: 18px;

  line-height: 1.3em;

/*  text-indent: 1em;*/

  margin: 2em 0;

}

article .textContainer a {

  font-family: "main-regular", sans-serif;

  text-decoration: underline;

}

article .textContainer a[target="_blank"] {

  font-family: "main-semibold", sans-serif;

}

article .textContainer a[target="_blank"]:after {

  color: #29abef;

  content: " leggi tutto";

  text-transform: uppercase;

  font-size: 0.7em;

}

@media (min-width: 768px) {

  article .textContainer {

    width: 740px !important;  

    margin: 0 auto !important;

  }

  article .textContainer h1 {

    text-align: left;

  }

}



@media (min-width: 768px) and (max-width: 1023px){

  article .textContainer p {

    padding: 0 40px;

  }



}



article .desc {



z-index: 10;



font-family: "main-regular", sans-serif;



color: #12120f;



text-align: right;

}

article .desc p {

  font-family: "main-regular", serif;

  padding: 0em .7em 1.2em 0;

  line-height: 1.3em;

}

article .desc p a {

  display: block;

  padding-left: 1em;

  font-weight: bold;

}

article .desc p a:hover {



}

article .desc p a.not {

  margin-top: 1em;



}

article .desc p a.vid {



}

article .desc p a.not:before {

  content: "-";

  margin-right: 3px;



}

article .desc p a.vid:before {

  content: "-";

  margin-right: 3px;  

}

article .desc img {

  max-width: 95%;

}

article .desc.inview {

  bottom: 5em;

  min-height: 5em;

  display: block;

  width: 100%;

}

@media (min-width: 768px) {

  article .desc.inview {

    min-height: 1em;

  }

}

article .desc.inview:after {

  position: absolute;

  top: 0;

  left: 50%;

  width: 40px;

  height: 40px;

  border-radius: 50%;

  background: #12120f url(../img/up.png) center center no-repeat;

  background-size: cover;

  -webkit-transform: translateX(-50%) translateY(-50%);

      -ms-transform: translateX(-50%) translateY(-50%);

          transform: translateX(-50%) translateY(-50%);

  content: "^";

  text-indent: -9999em;

}

article .desc.selected {

  bottom: 0px;

  -webkit-transform: translateY(0);

      -ms-transform: translateY(0);

          transform: translateY(0);

  height: 100%;

}

article .desc.selected:after {

  top: auto;

  bottom: 0;

  -webkit-transform: translateX(-50%) translateY(-10%) rotate(180deg);

      -ms-transform: translateX(-50%) translateY(-10%) rotate(180deg);

          transform: translateX(-50%) translateY(-10%) rotate(180deg);

}

article .desc h2 {

  color: #12120f;

  font-family: "main-light", sans-serif;

  font-size: 1em;

  // text-align: right;

  padding: 0em 0.7em 0 0;

}

article .desc h2 span.data {

  text-transform: uppercase;

  font-size: 0.7em;

  line-height: 2em;

  display: block;

}

article .desc img {

  margin: 1em 0;

}

article .desc p {

  font-size: 0.85em;

}

article .indicatore {

  position: fixed;

  top: -5em;

  height: 5em;

  width: 100%;

  padding: 0.5em 0;

  background: #12120f;

  z-index: 10;

  font-family: "main_regular", sans-serif;

  color: #dfe0da;

  box-shadow: 2px 0 5px #041823;

  -webkit-transition: top 0.5s;

          transition: top 0.5s;

}

article .indicatore.inview {

  top: 0;

}



article .indicatore.inview:before {

/* content: "3/10/2013";*/

 position: relative;

 top: 60px;

 color: #222;

 

}

article .indicatore.inview:after {

/* content: "5/11/2016";*/

  position: relative;

 top: 60px;

 right: 0;

 display: block;

 width: 100%;

 text-align: right;

 color: #222

}



article .indicatore .line {

  width: 100%;

  height: 3px;

  background-color: #ffffff;

  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  position: relative;

}

article .indicatore .point {

  width: 3px;

  height: 1em;

  background-color: #dfe0da;

  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  position: absolute;

  z-index: 999;

}

article .indicatore .event {

  width: 0.5em;

  height: 0.5em;

  max-width: 60px;
  min-width: 7px;
  max-height: 60px;
  min-height: 7px;

  background: rgba(18,18,15,.5);

/*  background-color: #12120f;*/

  border: 2px solid #ffffff;

  border-radius: 50%;

  top: 50%;

  -webkit-transform: translateY(-50%) translateX(-50%);

      -ms-transform: translateY(-50%) translateX(-50%);

          transform: translateY(-50%) translateX(-50%);

  position: absolute;

  cursor: pointer;

}

.event[title]:after { 

    content: attr(title);

    transform: rotate(300deg);

    display: block;

    font-size: 10px;

    position: relative;

    top: 24px;

    left: -10px;

    opacity: 0;

}

section#scroll_morti {

  display: block;

}



  section#scroll_morti section.mese {

    margin-top: 10px;

    padding-top: 10px;

  }

    section#scroll_morti section.mese .en {

    display: none;

  }

  section#scroll_morti section.mese h1 {

    text-align: center;

    font-size: 26px;



  }

@media (min-width: 768px) {

  section#scroll_morti section.mese {

    margin-top: 30px;

    padding-top: 30px;

  }

  section#scroll_morti section.mese h1 {

    max-width: 767px;

    margin: 0 auto 1em auto;

    text-align: center;

    font-size: 32px;

    font-family: 'main-condensed_regular';

  }

}

section#scroll_morti section.mese section.evento ul {

  padding: 0 .5em 10px .5em; 

  display: table

}

section#scroll_morti section.mese section.evento {

  *zoom: 1;

  margin: .5em auto .5em auto;

  padding: .5em 0 .5em 0;  

}

@media (max-width: 767px) {

  section#scroll_morti section.mese section.evento {

    margin: .5em auto .5em auto;

    max-width: 90%;

  }

  section.evento .desc, section.evento .desc h2 {

    color: #222;

    olor: #222;

  }  

}





.o li i, section.evento.o .desc {

  background: #ffa846;

  background: none;

}

.c li i, section.evento.c .desc {

  background: #93b1ce;

    background: none;

}

.e li i, section.evento.e .desc {

  background: #5aa846; 

  background: none;

}



section#scroll_morti section.mese section.evento.o {

  border-left: 5px solid #ffa846;

}

section#scroll_morti section.mese section.evento.c {

  border-left: 5px solid #93b1ce;

}

section#scroll_morti section.mese section.evento.e {

  border-left: 5px solid #5aa846;

}

section#scroll_morti section hr {

  max-width: 740px;

  height: 1px;

  background: #ccc;

  margin: 0 auto;

  border: 0;

}



section#scroll_morti section.mese section.evento:before,

section#scroll_morti section.mese section.evento:after {

  display: table;

  content: "";

  line-height: 0;

}

section#scroll_morti section.mese section.evento:after {

  clear: both;

}

@media (min-width: 768px) {

  section#scroll_morti section.mese section.evento {

    max-width: 740px;

    margin: 1em auto 1em auto;

    padding: 1em 0 1em 0;

    border-bottom: 0px solid #efefef;

  }

  section#scroll_morti section.mese section.evento ul {

    width: 420px;

    float: left;

  }

  section#scroll_morti section.mese section.evento .desc {

    position: relative;

    float: right;

    width: 100%;

    max-width: 300px;

    background: transparent;

    -webkit-transform: none;

        -ms-transform: none;

            transform: none;

    box-shadow: none;

    z-index: 0;

    padding: 0;

  }

  section#scroll_morti section.mese section.evento .desc:after {

    display: none;

  }

  section#scroll_morti section.mese section.evento .desc.inview {

    bottom: auto;

  }

  section#scroll_morti section.mese section.evento .desc h2 {

    font-weight: normal;

    font-family: "main-bold", sans-serif;

    padding-left: 0;

  }

  section#scroll_morti section.mese section.evento .desc h2 span.data {

    font-family: "main-light", sans-serif;

    display: block;

    font-weight: normal;

  }

  section#scroll_morti section.mese section.evento .desc h2 span.titolo_evento {

    display: block;

  }

}

li {

    list-style: none;

    display: inline;

    position: relative;

    margin: 0;

    padding: 0;

    float: left;

    height: 13px;

    width: 13px;



  font-style: normal;

  font-family: "omini";

  display: inline-block;

  text-align: center;

  color: #12120f;

  z-index: 9;

background: #12120f !important;

border: 2px solid #fff;   

/*    width: 10px;

      height: 10px; 

      background: #666 !important;

      border-radius: 50%; */





}

li i {

  font-style: normal;

  font-family: "omini";

  display: inline-block;

  text-align: center;

  color: #12120f;

  z-index: 9;

    width: 10px;

    height: 10px;

    background: #666 !important;

/*  background: #12120f !important */   

/*    border-radius: 50%; */

border: .5px solid #fff; 

}







li i:hover {

  color: #000000;

}

li .details {

  display: none;

  font-family: "main-condensed_regular", sans-serif;

  position: absolute;

  max-width: 480px;

  box-shadow: 0 0 5px #12120f;

  background: #dfe0da;

  z-index: 999;

  padding: 0.5em 1em;

  text-align: left;

}

li .details img {

  float: left;

  margin: 0 1em 1em 0;

  width: 5em;

}

li .details strong {

  font-family: "main-condensed_bold";

}

.credit p strong,

.credit p a {

  color: #12120f;

}

.credit p img.unhcr {

  width: 65px;

  padding-top: 10px;

}

.credit p img.scuola {

  margin-left: 50px;

}

#top div.navWrapper img.unhcr-testata {

    display: block;

    height: 50px;

    margin-left: 20px;

    margin-top: 16px;

    float: left;

}

#top div.navWrapper img.scuola-testata {

    display: block;

    height: 30px;

    margin-left: 20px;

    margin-top: 26px;

    float: left;

}

.share {

  position: relative;

  max-width: 990px;

  margin: 15px auto;

  border-top: 1px dashed rgba(18, 18, 15, 0.5);

  padding: 15px;

  display: block;

  font-size: 18px;

}

.share h2 {

  margin-bottom: 10px;

}

.share .desc {

  font-family: "main-condensed_regular", sans-serif;

  font-size: 18px;

  *zoom: 1;

}

.share .desc:before,

.share .desc:after {

  display: table;

  content: "";

  line-height: 0;

}

.share .desc:after {

  clear: both;

}

.share .desc strong {

  font-family: "main-condensed_bold";

}

.share .desc img {

  float: left;

  margin: 0 1em 1em 0;

  width: 5em;

}

.share .condivisioni {

  font-family: "main-condensed_regular", sans-serif;

  font-size: 18px;

  text-transform: uppercase;

}

.share .condivisioni a {

  display: inline;

  text-decoration: underline;

}

.share .condivisioni a.twitter {

  margin-left: 1em;

}

table.conversion {

  display: none;

}

table.conversion td {

  border: 1px dashed #999;

}

table.conversion td:nth-child(odd) {

  font-family: "omini";

  font-size: 48px;

}

table.conversion.upper {

  text-transform: uppercase;

}

.perMobile {

  display: none;

  text-align: right;

  margin-top: 15px;

}



  h2.contaMorti {

    color: #12120f;

    position: relative;

    z-index: 2;

    width: 100%;

    margin: 0 auto;

  }





@media (max-width: 767px) {

  .unhcr-testata, .scuola-testata {

    display: none!important;

  }

  .perMobile {

    display: block;

  }

  h2.contaMorti #bigtext-id2 {

    margin-top: 0.8em!important;

  }

}

/*Clearfix for clearing floats like a boss*/

.clearfix {

  *zoom: 1;

}

.clearfix:before,

.clearfix:after {

  display: table;

  content: "";

  line-height: 0;

}

.clearfix:after {

  clear: both;

}



/*@-webkit-keyframes ondeggiamento {

  0% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

  33% {

    -webkit-transform: translateY(-2px);

            transform: translateY(-2px);

  }

  66% {

    -webkit-transform: translateY(4px);

            transform: translateY(4px);

  }

  100% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

}

@keyframes ondeggiamento {

  0% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

  33% {

    -webkit-transform: translateY(-2px);

            transform: translateY(-2px);

  }

  66% {

    -webkit-transform: translateY(4px);

            transform: translateY(4px);

  }

  100% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

}

@-webkit-keyframes ondeggiamento_reverse {

  0% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

  33% {

    -webkit-transform: translateY(2px);

            transform: translateY(2px);

  }

  66% {

    -webkit-transform: translateY(-4px);

            transform: translateY(-4px);

  }

  100% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

}

@keyframes ondeggiamento_reverse {

  0% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

  33% {

    -webkit-transform: translateY(2px);

            transform: translateY(2px);

  }

  66% {

    -webkit-transform: translateY(-4px);

            transform: translateY(-4px);

  }

  100% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

}

@-webkit-keyframes ondeggiamento_small {

  0% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

  33% {

    -webkit-transform: translateY(-3px);

            transform: translateY(-3px);

  }

  66% {

    -webkit-transform: translateY(3px);

            transform: translateY(3px);

  }

  100% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

}

@keyframes ondeggiamento_small {

  0% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

  33% {

    -webkit-transform: translateY(-3px);

            transform: translateY(-3px);

  }

  66% {

    -webkit-transform: translateY(3px);

            transform: translateY(3px);

  }

  100% {

    -webkit-transform: translateY(0px);

            transform: translateY(0px);

  }

}*/







.blink_text {

animation:1s blinker linear infinite;

-webkit-animation:1s blinker linear infinite;

-moz-animation:1s blinker linear infinite;

position: relative;

    top: -10px;

    left: -25px;

    /* left: 365px; */

    z-index: 1000;

    color: #12120f;

    /* line-height: 100px;

    font-size: 100px; */

    font-family: main-condensed_thin;

}



@-moz-keyframes blinker {  

 0% { opacity: 1.0; }

 50% { opacity: 0.0; }

 100% { opacity: 1.0; }

 }



@-webkit-keyframes blinker {  

 0% { opacity: 1.0; }

 50% { opacity: 0.0; }

 100% { opacity: 1.0; }

 }



@keyframes blinker {  

 0% { opacity: 1.0; }

 50% { opacity: 0.0; }

 100% { opacity: 1.0; }

 }



 #backToTop{

  position: fixed;

  bottom: 30px;

  right: 30px;

  padding: 10px;

  background-color: rgba(0,0,0,0.5);

  color: #fff;

  font-family: "main-light";

  text-transform: uppercase;

  z-index: 9;

  font-size: 12px;

  border-radius: 5px;

  display: none;

}

#backToTop:hover{

  text-decoration: underline;

}









@media only screen and (max-width: 600px) {

    .indicatore {

      display: none !important;

        opacity: 0;

    }

    .logo {

        margin-top: 0;

    }

}    