

/*.shareToolBar a.eng:hover {
  color: #fff;
  cursor: default;  
}
.shareToolBar a.ita:hover {
  color: #29abef;
  cursor: pointer;  
}*/
.shareToolBar a.ita {
    background: url(/reportages/cronache/2016/migranti-morti-mediterraneo/img/ita.png);
    display: inline-block;
    background-size: 70%;
    background-repeat: no-repeat;
}

.mortizone span.ovest::after {
  content: "(Western Mediterranean)" !important;
}
.mortizone span.center::after {
  content: "(Central Mediterranean)" !important;
}
.mortizone span.est::after {
  content: "(Eastern Mediterranean)" !important;
}

section#scroll_morti section.mese .en {
    display: inline-block !important;
    text-transform: capitalize;
}
section#scroll_morti section.mese .it {
    display: none !important;
}
article .desc p {
    display: none !important;
}
article .desc .titolo_evento {
    display: none !important;
}
article .desc .data {
    text-align: right;
}