<!DOCTYPE html>
<html>
  <head>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/handlebars-v4.0.5.js" type="text/javascript"></script>  	
  </head>
  <body>
    <h1>Test Handlebars with json</h1>
    <marquee><p>Test a pretty web page with this stuff.</p></marquee>
    
    <div id="content"></div>
<!--  
	<script id="header" type="text/x-handlebars-template">​
	{{#each customers}}
		<li> {{ firstName }} {{ lastName }} </li>​
	{{/each}}
	</script> 
-->

<script id="header" type="text/x-handlebars-template">​
{{#each eventi}}
	<li>
		<span>evento</span>
		<br>id_evento: {{ "id_evento" }}
		<br>descrizione_evento_ita: {{ "descrizione_evento_ita" }} 
	</li>​
{{/each}}
</script>

<script type="text/javascript">
// var theData = {"eventi":[{"data_evento":"01/01/2014","id_evento":"morti_sulleverest","mese_evento":"gennaio","titolo_evento_ita":"morti sull'everest","titolo_evento_en":"Dead on everst","descrizione_evento_ita":"morti sull'everest","descrizione_evento_eng":"Dead on everst","link":null,"foto":null,"video":null,"luogo_evento":"Everest","tot_morti":"800","tot_bambini":null,"tot_donne":null,"tot_uomini":null},{"data_evento":"01/02/2014","id_evento":"descrizione_evento2","mese_evento":"febbraio","titolo_evento_ita":"descrizione evento2","titolo_evento_en":"Event 2 title","descrizione_evento_ita":"descrizione evento2","descrizione_evento_eng":"Event 2 description","link":null,"foto":null,"video":null,"luogo_evento":"Lampedusa","tot_morti":"200","tot_bambini":null,"tot_donne":null,"tot_uomini":null},{"data_evento":"31/12/2015","id_evento":"migrante_affogato_nel_naviglio","mese_evento":"dicembre","titolo_evento_ita":"migrante affogato nel naviglio","titolo_evento_en":"migrante affogato nel naviglio","descrizione_evento_ita":"migrante affogato nel naviglio","descrizione_evento_eng":"migrant drowned in canal","link":null,"foto":null,"video":null,"luogo_evento":"Milano","tot_morti":"1","tot_bambini":null,"tot_donne":null,"tot_uomini":null}]};
// var theData = {customers:[{firstName:"Michael", lastName:"Alexander", age:20}, {firstName:"John", lastName:"Allen", age:29}]};
/*
var theTemplateScript = $("#header").html();
var theTemplate = Handlebars.compile(theTemplateScript);
$(document.body).append(theTemplate (theData));*/

filename_migranti = "http://corriere.s3.amazonaws.com/json-table/migranti-anagrafe-morti-nel-mediterraneo.json";
var migranti_morti = {};
$.getJSON( filename_migranti )
    .done(function(data){
        
        console.log('data');
        console.log(data);
        migranti_morti = data;
        console.log('migranti_morti');
		console.log(migranti_morti);

		var theData = migranti_morti;
		var theTemplateScript = $("#header").html();
		var theTemplate = Handlebars.compile(theTemplateScript);
		$(document.body).append(theTemplate (theData));

    })
    .fail(function(data){
        console.log("Ahi ahi ahi, non si apre il file!");
	});

$( document ).ready(function() {
        console.log('migranti_morti_fuori');
		console.log(migranti_morti);

});



/*
filename_migranti = "http://corriere.s3.amazonaws.com/json-table/migranti-anagrafe-morti-nel-mediterraneo.json";
migranti_morti = {};

$.getJSON( filename_migranti )
    .done(function(data){
          migranti_morti = data;
          console.log('data')
          console.log(data)
          name = data.titolo_evento_ita;
          description = data.descrizione_evento_ita;
    })
    .fail(function(data){
        console.log("Ahi ahi ahi, non si apre il file!");
    });

var context = migranti_morti;

$.each( migranti_morti.eventi, function(chiave, evento) {
	console.log('evento '+chiave);
	console.log(evento.data_evento);
	var html = template(evento);
	$("#content").append(html);
});
*/

</script>
  </body>
</html>
