
<script id="entry-template" type="text/x-handlebars-template">

{{#each anni as |value_anno key_anno|}}
  <section class="anno {{key_anno}}">
  {{#each mesi}}
    <section class="mese {{mese_evento}}">
      <h1><span class="anno_evento">{{anno_evento}}</span> - <span class="mese_evento">{{mese_evento}}</span></h1>
      {{#each eventi}}
      <section class="evento" id="{{id_evento}}" data-luogo="{{luogo_evento}}">
        <div class="desc">
        {{#if data_evento}}
          <h2><span class="data">{{data_evento}} </span><span class="titolo_evento">{{titolo_evento_ita}}</span></h2>
        {{/if}}
        {{#if foto}}
          <img src="{{foto}}" alt="{{titolo_evento_ita}}">
        {{/if}}
        {{#if descrizione_evento_ita}}
          <p>{{{descrizione_evento_ita}}}</p> 
        {{/if}}
        {{#if link}}
          <a href="{{link}}" target="_blank">{{link}}</a>
        {{/if}}
        </div>
        <ul class="morti" data-tot="{{tot_morti}}" data-bambini="{{tot_bambini}}" data-donne="{{tot_donne}}" data-uomini="{{tot_uomini}}" >
          {{{contaimorti tot_bambini tot_donne tot_uomini tot_unknown tot_morti}}}
        </ul>
      </section>
      {{/each}}
    </section>
  {{/each}}
  </section>
{{/each}}

</script>
