
  <section class="mese gennaio">
  
    <h1>Gennaio</h1>

    <section class="evento" id="id_evento_1">
      <div class="desc">
        <h2><span class="data">gennaio</span>Nave sfondata</h2>
        <a href="#"><img src="http://lorempixel.com/g/400/200/abstract/1" alt=""></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi, provident sint fugit inventore.</p> 
        <a href="#">Leggi altro</a>
      </div>
      <!--#include virtual="elenco-morti.template"-->
    </section>

    <section class="evento" id="id_evento_2">
      <div class="desc">
        <h2><span class="data">gennaio</span>Titolo evento</h2>
        <a href="#"><img src="http://lorempixel.com/g/400/200/abstract/2" alt=""></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi, provident sint fugit inventore.</p> 
        <a href="#">Leggi altro</a>
      </div>
      <!--#include virtual="elenco-morti.template"-->
    </section>

    
  </section> 
  
  <section class="mese febbraio">
  
    <h1>Febbraio</h1>

    <section class="evento" id="id_evento_3">
      <div class="desc">
        <h2><span class="data">febbraio</span>Titolo evento</h2>
        <a href="#"><img src="http://lorempixel.com/g/400/200/abstract/3" alt=""></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi, provident sint fugit inventore.</p> 
        <a href="#">Leggi altro</a>
      </div>
      <!--#include virtual="elenco-morti.template"-->
    </section>

  </section>
