<div class="handletemple">
{{#each anni as |value_anno key_anno|}}
  <section class="anno {{key_anno}}">
  {{#each mesi}}
    <!-- sono un commento dentro each mesi -->
    <section class="mese {{mese_evento}}">
      <h1><span class="anno_evento">{{anno_evento}}</span> - <span class="mese_evento it">{{mese_evento}}</span><span class="mese_evento en">{{mese_evento}}</span></h1>
      {{#each eventi}}
      <section class="evento {{zona}}" id="{{this.id_evento}}" data-luogo="{{this.luogo_evento}}">
        <div class="desc">
        {{#if this.data_evento}}
          <h2><span class="data">{{this.data_evento}} </span><span class="titolo_evento">{{{normalizzami this.titolo_evento_ita}}}</span></h2>
        {{/if}}
        {{#if this.foto}}
          <img src="{{this.foto}}" alt="{{normalizzami this.titolo_evento_ita}}">
        {{/if}}
        {{#if this.descrizione_evento_ita}}
          <p>{{{normalizzami this.descrizione_evento_ita}}}
          {{#if this.link}}
            <a class="not" href="{{this.link}}" target="_blank" title="{{this.link}}">{{{normalizzami this.link_testo}}}</a>
          {{/if}}
          {{#if this.video}}
            <a class="vid" href="{{this.video}}" target="_blank" title="{{this.video}}">{{{normalizzami this.video_testo}}}</a>
          {{/if}}
          </p>
        {{/if}}

        </div>
<ul class="morti" data-tot="{{this.tot_morti}}">
          {{{contaimorti this.tot_bambini this.tot_donne this.tot_uomini this.tot_unknown this.tot_morti}}}
        </ul> 
        {{!-- <h2 class="morticini" data-tot="{{this.tot_morti}}">{{this.tot_morti}}</h2> --}}
      </section>
      {{/each}}
    </section>
  {{/each}}
  </section>
{{/each}}
</div>

