@import "font-face.css";

@import "../font/stylesheet.css";
/* ------------------------------
COLORS
---------------------------*/
/* ------------------------------
DEFINITIONS
---------------------------*/
* {
  box-sizing: border-box;
}
.copertina h1 {
  bottom: 0px;
  color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
  display: block;
  font-family: main-heavy;
  font-size: 1em;
  left: 50%;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 100%;
  max-width: 760px;
  z-index: 1002;
}
.copertina h1 div:first-child {
  border-bottom: 1px solid #dfe0da;
}
.copertina h1 b {
  background: black;
  border-bottom: 2px solid #F79941;
  border-bottom: 2px solid #dfe0da;
  border-top: 2px solid #F79941;
  border-top: 2px solid #dfe0da;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0px;
  margin: 0 0 -12px;
  padding: 10px;
}
.copertina h1 strong {
  font-size: 60px;
  display: block;
  font-weight: normal;
  color: #fff;
}
.copertina h1 span {
  opacity: 1;
  font-size: 22px;
  font-family: "brera_thin";
  display: inline-block;
  background: black;
  padding: 10px;
  line-height: 1;
}
.copertina h1 span.firma {
  border-top: 2px solid #dfe0da;
}
nav.filtri {
  display: none;
}
header {
  background-color: #12120f;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
}
header h1 {
  display: block;
  width: 100%;
  color: #dfe0da;
  font-size: 60px;
  border-bottom: 1px dashed #9da5a9;
  margin: 0 0 30px;
}
header h1 span {
  font-family: "title-regular";
  font-size: 140px;
  color: #9da5a9;
}
header h3 {
  color: #dfe0da;
  padding-bottom: 35px;
}
article {
  /*.css-gradient(@light_blue, @dark_blue);*/

  background-color: #ffffff;
  color: #12120f;
  margin-top: 0;
  position: relative;
  padding-top: 2em;
}
article h1 {
  color: #12120f;
  margin: 40px 0 20px;
}
article .textContainer {
  zoom: 1;
  padding-top: 2em;
  margin-top: 2em;
  position: relative;
}
article .textContainer h2 {
  font-family: "main-heavy", sans-serif;
  padding-top: 2em;
  *zoom: 1;
  line-height: 1;
  font-size: 1em;
  color: #12120f;
}
article .textContainer h2:before,
article .textContainer h2:after {
  display: table;
  content: "";
  line-height: 0;
}
article .textContainer h2:after {
  clear: both;
}
article .textContainer h2 .numerone {
  display: block;
  width: 100%;
  float: none;
}
@media (min-width: 768px) {
  article .textContainer h2 .numerone {
    float: left;
    width: 50%;
  }
}
article .textContainer h2 .testi {
  margin-top: 1em;
  display: block;
  width: 100%;
  float: none;
  text-transform: uppercase;
  font-size: 1em;
  text-outline: 1em;
}
@media (min-width: 768px) {
  article .textContainer h2 .testi {
    width: 40%;
    float: right;
  }
}
article .textContainer > p {
  font-family: "main-regular", sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  text-indent: 1em;
  margin: 2em 0;
}
article .textContainer a {
  font-family: "main-regular", sans-serif;
  text-decoration: underline;
}
article .textContainer a[target="_blank"] {
  font-family: "main-semibold", sans-serif;
}
article .textContainer a[target="_blank"]:after {
  color: #29abef;
  content: " leggi tutto";
  text-transform: uppercase;
  font-size: 0.7em;
}
@media (min-width: 768px) {
  article .textContainer {
    width: 740px !important;
    margin: 0 auto !important;
  }
  article .textContainer h1 {
    text-align: left;
  }
}
article .desc {
  position: fixed;
  bottom: 0px;
  transform: translateY(100%);
  background: #dfe0da;
  z-index: 10;
  font-family: "main-regular", sans-serif;
  color: #12120f;
  transition: bottom 0.5s, transform 0.7s;
  box-shadow: -2px 0 10px #041823;
  cursor: pointer;
  display: none;
  padding: 1.5em 2em;
}
article .desc p {
  font-family: "main-regular", serif;
}
article .desc img {
  max-width: 100%;
}
article .desc.inview {
  bottom: 5em;
  min-height: 5em;
  display: block;
  width: 100%;
}
article .desc.inview:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #12120f url(../img/up.png) center center no-repeat;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
  content: "^";
  text-indent: -9999em;
}
article .desc.selected {
  bottom: 0px;
  transform: translateY(0);
  height: 100%;
}
article .desc.selected:after {
  top: auto;
  bottom: 0;
  transform: translateX(-50%) translateY(-10%) rotate(180deg);
}
article .desc h2 {
  color: #12120f;
  font-family: "main-light", sans-serif;
  font-size: 1em;
  padding: 0em 0.7em 1.2em;
}
article .desc h2 span.data {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-right: 1em;
  line-height: 1em;
}
article .desc img {
  padding-bottom: 1.2em;
}
article .desc p {
  padding: 0em;
  font-size: 0.85em;
  line-height: 1.5em;
}
article .indicatore {
  position: fixed;
  top: -3em;
  height: 3em;
  width: 100%;
  padding: 0.5em 0;
  background: #12120f;
  z-index: 10;
  font-family: "main_regular", sans-serif;
  color: #dfe0da;
  box-shadow: 2px 0 5px #041823;
  transition: top 0.5s;
}
article .indicatore.inview {
  top: 0;
}
article .indicatore .line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
article .indicatore .point {
  width: 3px;
  height: 1em;
  background-color: #dfe0da;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
article .indicatore .event {
  width: 0.5em;
  height: 0.5em;
  background-color: #12120f;
  border: 2px solid #ffffff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}
section#scroll_morti {
  display: block;
}
@media (min-width: 768px) {
  section#scroll_morti section.mese h1 {
    max-width: 768px;
    margin: 0 auto;
    text-align: left;
  }
}
section#scroll_morti section.mese section.evento {
  *zoom: 1;
}
section#scroll_morti section.mese section.evento:before,
section#scroll_morti section.mese section.evento:after {
  display: table;
  content: "";
  line-height: 0;
}
section#scroll_morti section.mese section.evento:after {
  clear: both;
}
@media (min-width: 768px) {
  section#scroll_morti section.mese section.evento {
    max-width: 740px;
    margin: 1em auto;
  }
  section#scroll_morti section.mese section.evento ul {
    width: 420px;
    float: left;
  }
  section#scroll_morti section.mese section.evento .desc {
    position: relative;
    float: right;
    width: 100%;
    max-width: 300px;
    background: transparent;
    transform: none;
    box-shadow: none;
    z-index: 0;
    padding: 0;
  }
  section#scroll_morti section.mese section.evento .desc:after {
    display: none;
  }
  section#scroll_morti section.mese section.evento .desc.inview {
    bottom: auto;
  }
  section#scroll_morti section.mese section.evento .desc h2 {
    font-weight: normal;
    font-family: "main-bold", sans-serif;
    padding-left: 0;
  }
  section#scroll_morti section.mese section.evento .desc h2 span.data {
    font-family: "main-light", sans-serif;
    display: block;
    font-weight: normal;
  }
}
li {
  list-style: none;
  display: inline;
  position: relative;
}
li i {
  font-style: normal;
  font-family: "omini";
  font-size: 36px;
  display: inline-block;
  width: 36px;
  text-align: center;
  color: #12120f;
  z-index: 9;
}
li i:hover {
  color: #000000;
}
li .details {
  display: none;
  font-family: "main-condensed_regular", sans-serif;
  position: absolute;
  max-width: 480px;
  box-shadow: 0 0 5px #12120f;
  background: #dfe0da;
  z-index: 999;
  padding: 0.5em 1em;
  text-align: left;
}
li .details img {
  float: left;
  margin: 0 1em 1em 0;
  width: 5em;
}
li .details strong {
  font-family: "main-condensed_bold";
}
.credit p strong,
.credit p a {
  color: #12120f;
}
.credit p img.unhcr {
  width: 100px;
  padding-top: 10px;
}

#top div.navWrapper img.unhcr-testata {
	display: block;
    height: 70px;
    margin-left: 400px;
    padding-top: 10px;
    position: absolute;
    width: 59px;
}
	
.share {
  position: relative;
  max-width: 990px;
  margin: 15px auto;
  border-top: 1px dashed rgba(18, 18, 15, 0.5);
  padding: 15px;
  display: block;
  font-size: 18px;
}
.share h2 {
  margin-bottom: 10px;
}
.share .desc {
  font-family: "main-condensed_regular", sans-serif;
  font-size: 18px;
  *zoom: 1;
}
.share .desc:before,
.share .desc:after {
  display: table;
  content: "";
  line-height: 0;
}
.share .desc:after {
  clear: both;
}
.share .desc strong {
  font-family: "main-condensed_bold";
}
.share .desc img {
  float: left;
  margin: 0 1em 1em 0;
  width: 5em;
}
.share .condivisioni {
  font-family: "main-condensed_regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.share .condivisioni a {
  display: inline;
  text-decoration: underline;
}
.share .condivisioni a.twitter {
  margin-left: 1em;
}
table.conversion {
  display: none;
}
table.conversion td {
  border: 1px dashed #999;
}
table.conversion td:nth-child(odd) {
  font-family: "omini";
  font-size: 48px;
}
table.conversion.upper {
  text-transform: uppercase;
}
/*Clearfix for clearing floats like a boss*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@media screen and (min-width: 600px) {
  
}
@keyframes ondeggiamento {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-2px);
  }
  66% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ondeggiamento_reverse {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(2px);
  }
  66% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ondeggiamento_small {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-3px);
  }
  66% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
